
%div.flex.row
  %div.photo
    / .navbar.navbar-top.navbar-custom.navbar-fixed-top(style='float:none; display: inline-block; text-align: center; background:transparent;')

    /   .navbar-custom.pull-right
    /     %ul.nav.navbar-nav(style='float:none; display: inline-block; text-align: center;')
    /       %li(style='color: black; padding: 10px 20px 10px 20px; display: inline-block;')= link_to 'About', about_path
    /       %li(style='color: black; padding: 10px 20px 10px 20px; display: inline-block;') Workshops & Events
    /       %li(style='color: black; padding: 10px 20px 10px 20px; display: inline-block;') Partners
    /       / %li(style='color: black; padding: 10px 20px 10px 20px; display: inline-block;') Blog
    /       / %li(style='color: black; padding: 10px 20px 10px 20px; display: inline-block;')= link_to 'Contact Us', contact_path


    %p A Travel Community For Women


/ %div.main
/   / %h1 A Travel Community for Women
/   %h3 Join the community that is dedicated to life-changing travel experiences for women.



%div.below-main
  %h3 Travelogue is a tight-knit social group of women who enjoy traveling and cosy, intimate experiences.
  %input.community-button(type="button" value="Join the Community" onclick="location.href = 'https://www.facebook.com/groups/281904978888004/';")

%div.row.more-info
  .col-md-3.icon
    %i.fa.fa-hand-peace-o.fa-3x.ico(style='text-align: center;')
    %h3 Gatherings
    %p Get to know other women and become part of a community.
  .col-md-3.icon
    %i.fa.fa-female.fa-3x.ico
    %h3 Workshops
    %p Explore your city with our unique experiences and workshops.
  .col-md-3.icon
    %i.fa.fa-rocket.fa-3x.ico
    %h3 Retreats
    %p Get out of the Berlin box-ring-thing for shared purpose retreats and a different atmosphere.


