
%div.flex.row
  %div.photo
    %div.logo
      %img{:src => asset_path("travelogue-full.png")}


/ %div.main
/   / %h1 A Travel Community for Women
/   %h3 Join the community that is dedicated to life-changing travel experiences for women.



%div.below-main
  %h3 Travelogue designs cozy, unique travel experiences for a social community of adventurous women.
  %input.community-button(type="button" value="Join the Community!" onclick="location.href = 'https://www.facebook.com/groups/281904978888004/';")

%div
  %ul.flex-container
    %li.flex-item
      %h3.homepage-boxes
        = link_to 'Surf Retreat in the Basques Country', basques_path
      %div.image-thumbs
        %img.thumbs{:src => asset_path("bordeaux.jpg")}
    %li.flex-item
      %h3.homepage-boxes
        = link_to 'Just Chilling Retreat Outside of Berlin', berlin_path
      %div.image-thumbs
        %img.thumbs{:src => asset_path("women_surfer2.jpg")}
    %li.flex-item
      %h3.homepage-boxes
        = link_to 'Workshops', workshops_path
      %div.image-thumbs
        %img.thumbs{:src => asset_path("moroccoboat.jpg")}


