/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "library";

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
  * {
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      font-family: 'Hammersmith One', sans-serif;
      color: #112147;
    }


// homepage
.photo {
  width: 100%;
  @include background-image("womentravel.png");
  background-size: cover;
  height: 500px;
  background-repeat: no-repeat;

  p {
    font-size: 35px;
    padding-top: 200px;
    padding-left: 50px;
    font-family: 'Hammersmith One', sans-serif;
    color: #112147;
  }
}

.community-button {
  background-color: #ea502f;
  color: #112147;
  padding: 10px 15px 10px 15px;
  border: 1px dotted #112147;
  margin-top: 25px;
}

.community-button:hover {
  background-color: #ef9e7f;
  color: #112147;
  padding: 10px 15px 10px 15px;
  border: 2px dotted #112147;
}

.below-main {
  text-align: center;
  padding: 50px 150px 50px 150px;
}


.title {
  font-family: 'Hammersmith One', sans-serif;
  font-size: 30px;
  padding: 5px 10px 5px 10px;
  color: white;
}

div .row .about-section {
  max-height: 200px;
  margin-top: 550px;
  .about_photo img {

    max-width:100%;
    max-height:100%;
  }
}

.more-info {
  background-color: #ef9e7f;
  padding-top: 100px;
  padding-bottom: 50px;
  border-top: 1px dotted #112147;
  border-bottom: 1px dotted #112147;
  margin: auto;
  h3 {
    text-align: center;
  }
  .icon {
    text-align: center;
  }
  p {
    text-align: left;
  }
}


// workshops page
.workshops {
  text-align: center;
  padding-top: 75px;
  h3 {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
.carousel-color {
  background-color: #90d0b5;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;
  border-top: 1px dotted #112147;
  border-bottom: 1px dotted #112147;
  h3 {
    padding-bottom: 50px;
  }
  .event-carousel {
    max-height: 500px;
    max-width: 800px;
    margin: auto;
  }
}



/*
  $bgDefault      : #00cccc;
  $bgHighlight    : #0b6969;
  $colDefault     : white;
  $colHighlight   : #e9edee;
  $dropDown       : true;
  .navbar-custom {
    background-color: $bgDefault;
    border-color: $bgHighlight;
    .navbar-brand {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    .navbar-text {
      color: white; }
    .navbar-nav {
      > li {
        > a {
          color: white;
          &:hover,  &:focus {
            color: $colHighlight; }}
        @if $dropDown {
          > .dropdown-menu {
            background-color: $bgDefault;
            > li {
              > a {
                color: $colDefault;
                &:hover,  &:focus {
                  color: $colHighlight;
                  background-color: $bgHighlight; }}
              > .divider {
                background-color: $bgHighlight;}}}}}
      @if $dropDown {
        .open .dropdown-menu > .active {
          > a, > a:hover, > a:focus {
            color: $colHighlight;
            background-color: $bgHighlight; }}}
      > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }}
      > .open {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }}}
    .navbar-toggle {
      border-color: $bgHighlight;
      &:hover, &:focus {
        background-color: $bgHighlight; }
      .icon-bar {
        background-color: $colDefault; }}
    .navbar-collapse,
    .navbar-form {
      border-color: $colDefault; }
    .navbar-link {
      color: $colDefault;
      &:hover {
        color: $colHighlight; }}}
  @media (max-width: 767px) {
    .navbar-custom .navbar-nav .open .dropdown-menu {
      > li > a {
        color: $colDefault;
        &:hover, &:focus {
          color: $colHighlight; }}
      > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }}}
  }

  div.main {
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
  }

  div.below-main {
    text-align: center;
    padding: 50px 100px 50px 100px;
  }
*/
